<div class="profile-content">
	<div ng-if="vm.targetUser.friends.length == 0">
		<h1>{{vm.targetUser.name}} don't have any friends yet!!</h1>
	</div>
	<div class="addon">
		<ul>
			<li class="cleaffix" ng-repeat="user in vm.targetUser.friends">
				<a ui-sref="profile({ id: user._id })">
					<img class="round" ng-src="/photo/{{user.avatar}}">
					<div class="legend-info">
						<strong>{{user.name}}</strong>
						<div ng-if="user.address">
							Live at {{user.address}}.
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>